.btn {
  background-image: linear-gradient(to left,  #f7b9c6 , #ee91a1,  #f7b9c6 ); 
  color: black;
    height: 30px;
    font-weight: 700;
    border-radius: 3px;
    border: black solid 0.1px;
}

.hidden {
  display: none;
}

.tasksContainer {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: flex-end;
  margin: 3rem;
  gap: 6px;
  border-radius: 3px;
  height: max-content;
  width: 465px;
  box-shadow: rgba(26, 25, 25, 0.753) 0px 4px 8px 0px;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.taskLi {
  list-style: none;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.divDescription {
  width: 50%;
}

.divIcono {
  width: 20%;
}

h3 {
  margin: 0 0 5px 0;
}

p {
  margin: 0;
}